* { 
	/*margin: 0;*/
	padding: 0;
	/*position: relative;*/
}


.house_wall {
	height: 500px;
	width: 500px;
	border: 2px solid #000;
	left: 800px;
	top: 10px;
	position: relative;
}

.house_roof {
	width: 0;
	height: 0;
	border-left: 250px solid transparent;
	border-right: 254px solid transparent;
	border-bottom: 300px solid black;
	left: 800px;
	top: 10px;
	position: relative;
}

.wall_window_green, .wall_window_red {
	width: 80px;
	height: 100px;
	border: 1px solid #000;
	top: 300px;
	position: relative;
}

.wall_window_green {
	background: green;
	left: 100px;
	top: 50px;
	position: relative;
}

.wall_window_red {
	background: red;
	left: 320px;
	top: -252px;
	position: relative;
}
.window_frame_hor, .windov_frame_vert {
	width: 100%;
	border: 1px solid #000;

}

.window_frame_vert {
	transform: rotate(90deg);
}
.window_frame_hor {
	width: 80px;
	height: 10px;
	background-color: #424949;
	top: 25px;
	left: -1px;
	position: relative;
}
.window_frame_vert {
	width: 100px;
	height: 10px;
	background-color: #424949;
	top: 33px;
	left: -10px;
	z-index: 2;
	position: relative;	
}

.window_handle {
	width: 15px;
	height: 4px;
	background-color: #000;
	left: 40px;
	top: -10px;
	z-index: 1;
	position: relative;
}

.wall_door {
	width: 100px;
	height: 200px;
	background-color: #117A65;
	top: 198px;
	left: 200px;
	border: 1px solid #000;
	position: relative;
}
.door_handle {
	height: 20px;
	width: 20px;
 	background-color: #212F3D;
 	border-radius: 50%;
 	display: inline-block;
	top: 90px;
	left: 5px;
	position: relative;
}

/*fixed*/

.house_wall1 {
	height: 500px;
	width: 500px;
	border: 2px solid #000;
	top: 307px;
	position: fixed;
}

.house_roof1 {
	width: 0;
	height: 0;
	border-left: 250px solid transparent;
	border-right: 254px solid transparent;
	border-bottom: 300px solid black;
	position: fixed;
}

.wall_window_green1, .wall_window_red1 {
	width: 80px;
	height: 100px;
	border: 1px solid #000;
	top: 300px;
	position: fixed;
}


.wall_window_green1 {
	background: green;
	left: 100px;
	top: 400px;
	position: fixed;
}

.wall_window_red1 {
	background: red;
	left: 320px;
	top: 400px;
	position: fixed;
}
.wall_window_green1 .window_frame_hor1, .wall_window_green1 .windov_frame_vert1 {
	width: 100%;
	border: 1px solid #000;

}

.wall_window_green1 .window_frame_vert1 {
	transform: rotate(90deg);
}
.wall_window_green1 .window_frame_hor1 {
	width: 80px;
	height: 10px;
	background-color: #424949;
	top: 430px;
	left: 100px;
	position: fixed;
}
.wall_window_green1 .window_frame_vert1 {
	width: 100px;
	height: 10px;
	background-color: #424949;
	top: 446px;
	left: 90px;	
	z-index: 2;
	position: fixed;
}

.wall_window_green1 .window_handle1 {
	width: 15px;
	height: 4px;
	background-color: #000;
	top: 420px;
	left: 140px;
	z-index: 1;
	position: fixed;
}

.wall_window_red1 .window_frame_hor1, .wall_window_red1 .windov_frame_vert1 {
	width: 100%;
	border: 1px solid #000;

}

.wall_window_red1 .window_frame_vert1 {
	transform: rotate(90deg);
}
.wall_window_red1 .window_frame_hor1 {
	width: 80px;
	height: 10px;
	background-color: #424949;
	top: 430px;
	left: 320px;
	position: fixed;
}
.wall_window_red1 .window_frame_vert1 {
	width: 100px;
	height: 10px;
	background-color: #424949;
	top: 446px;
	left: 310px;
	z-index: 2;	
	position: fixed;
}
.wall_window_red1 .window_handle1 {
	width: 15px;
	height: 4px;
	background-color: #000;
	top: 420px;
	left: 360px;
	z-index: 1;
	position: fixed;
}

.wall_door1 {
	width: 100px;
	height: 200px;
	background-color: #117A65;
	top: 609px;
	left: 200px;
	border: 1px solid #000;
	position: fixed;
}
.door_handle1 {
	height: 20px;
	width: 20px;
 	background-color: #212F3D;
 	border-radius: 50%;
 	display: inline-block;
	top: 690px;
	left: 205px;
	position: fixed;
}


/*absolute*/


.house_wall2 {
	height: 500px;
	width: 500px;
	border: 2px solid #000;
	top: 1200px;
	left: 800px;
	position: absolute;
}

.house_roof2 {
	width: 0;
	height: 0;
	border-left: 250px solid transparent;
	border-right: 254px solid transparent;
	border-bottom: 300px solid black;
	top: 903px;
	left: 800px;
	position: absolute;
}

.wall_window_green2, .wall_window_red2{
	width: 80px;
	height: 100px;
	border: 1px solid #000;
	top: 300px;
	position: absolute;
}

.wall_window_green2 {
	background: green;
	left: 100px;
	top: 50px;
	position: absolute;
}

.wall_window_red2 {
	background: red;
	left: 320px;
	top: 50px;
	position: absolute;
}
.window_frame_hor2, .windov_frame_vert2 {
	width: 100%;
	border: 1px solid #000;

}

.window_frame_vert2 {
	transform: rotate(90deg);
}
.window_frame_hor2 {
	width: 80px;
	height: 10px;
	background-color: #424949;
	top: 30px;
	left: -1px;
	position: absolute;
}
.window_frame_vert2{
	width: 100px;
	height: 10px;
	background-color: #424949;
	top: 45px;
	left: -10px;
	z-index: 2;
	position: absolute;
}

.window_handle2 {
	width: 15px;
	height: 4px;
	background-color: #000;
	left: 40px;
	top: 15px;
	z-index: 1;
	position: absolute;
}

.wall_door2 {
	width: 100px;
	height: 200px;
	background-color: #117A65;
	top: 198px;
	left: 200px;
	border: 1px solid #000;
	top: 300px;
	position: absolute;
}
.door_handle2 {
	height: 20px;
	width: 20px;
 	background-color: #212F3D;
 	border-radius: 50%;
 	display: inline-block;
	top: 90px;
	left: 5px;
	position: absolute;
}


/*static*/



.house_wall3 {
	height: 500px;
	width: 500px;
	border: 2px solid #000;
	margin-top: 0px;
	margin-left: 800px;
	position: static;

}

.house_roof3 {
	width: 0;
	height: 0;
	border-left: 250px solid transparent;
	border-right: 254px solid transparent;
	border-bottom: 300px solid black;
	position: static;
	margin-top: 1000px;
	margin-left: 800px;
}

.wall_window_green3, .wall_window_red3 {
	width: 80px;
	height: 100px;
	border: 1px solid #000;
	top: 300px;
	position: static;
}

.wall_window_green3 {
	background: green;
	align-self: middle ;
	position: static;
	margin-top: 50px;
	margin-left: 100px;
}

.wall_window_red3 {
	background: red;
	position: static;
	margin-top: -450px;
	margin-left: 300px;
}
.window_frame_hor3, .windov_frame_vert3 {
	width: 100%;
	border: 1px solid #000;

}

.window_frame_vert3 {
	transform: rotate(90deg);
}
.window_frame_hor3 {
	width: 80px;
	height: 10px;
	background-color: #424949;
	position: static;
	margin-top: 32px
}
.window_frame_vert3 {
	width: 100px;
	height: 10px;
	background-color: #424949;
	position: static;
	z-index: 2;
	margin-left: -10px
}

.window_handle3 {
	width: 15px;
	height: 4px;
	background-color: #000;
	z-index: 1;
	position: static;
	margin-left: 42px;
	margin-top: -35px
}

.wall_door3 {
	width: 100px;
	height: 200px;
	background-color: #117A65;
	position: static;
	border: 1px solid #000;
	margin-top: 145px;
	margin-left: 200px
}
.door_handle3 {
	height: 20px;
	width: 20px;
 	background-color: #212F3D;
 	border-radius: 50%;
 	display: inline-block;
	position: static;
	margin-top: 90px;
}
